.title {
    &--primary {
        position: relative;
        color: var(--font-color-black);
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(m, $sm) {
            &:before, &:after {
                content: '';
                display: inline-block;
                width: 200 / $fontSizeRelative + em;
                border-bottom: 1px solid var(--border-color-black);
            }
        }
        h2 {
            padding-left: 50 / $h2Value + em;
            padding-right: 50 / $h2Value + em;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            flex-shrink: 0;
        }
    }
    &--h3 {
        font-weight: 700;
        font-family: var(--font-2);
    }
    &--h2 {
        margin-bottom: 30 / $h2Value + em;
        font-weight: 700;
    }
    &--specific {
        span {
            display: inline-block;
            &:first-letter {
                color: var(--font-color-orange);
                text-transform: uppercase;
            }
        }
    }
}