<footer class="footer footer--main wow animate__fadeIn" data-wow-duration="2s">
    <div class="container-xxl">
        <div class="row flex-column row-cols-auto align-items-center gy-4">
            <div class="col">
                <a class="logo logo--secondary" href="/">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <div class="col">
                <nav class="nav nav--menu">
                    <ul>
                        <li><a href="main">О нас</a></li>
                        <li><a href="main">Новости</a></li>
                        <li><a href="main">Инновации</a></li>
                        <li><a href="main">Контакты</a></li>
                        <li><a href="main">Закалённое</a></li>
                        <li><a href="main">Стеклопакеты</a></li>
                        <li><a href="main">Триплекс</a></li>
                    </ul>
                </nav>
            </div>   
            <div class="col">
                <div class="list list--socials">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="img/icon-insta.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/icon-tg.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/icon-fb.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <div class="content content--copy">© 2012-2021 “OOO”Apex Glass — Все права защищены</div>
                    <div class="content content--copy-secondary mt-2">«Сделано в — Credo Studio»</div>
                </div>
            </div>
        </div>
    </div>
</footer>

@@include("./src/partials/modals/modal-request.html")