<div class="card card--news">
    <div class="card__img">
        <img src="img/img-news1.jpg" alt="">
    </div>
    <div class="card__body">
        <div class="card__date">10.01.2022</div>
        <div class="card__content">
            <h5>Мы занимаемся изготовлением стекол разных сложностей</h5>
            <p>А ещё предприниматели в сети интернет освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ассоциативно...</p>
        </div>
        <a class="button button--secondary-card" href="#">Подробнее</a>
    </div>
</div>
<div class="card card--news-third">
    <div class="card__img">
        <img src="img/content-img--gallery1.jpg" alt="">
    </div>
    <div class="card__body">
        <div class="card__content">
            <h4>Знакомство с нашими партнерами</h4>
            <p> Являясь всего лишь частью общей картины, диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть объявлены нарушающими общечеловеческие нормы этики и морали.</p>
        </div>
        <a class="button button--secondary-card" href="#">Подробнее</a>
    </div>
</div>
<div class="card card--news-secondary">
    <div class="card__img">
        <img src="img/img-news1-1.jpg" alt="">
    </div>
    <div class="card__body">
        <div class="card__date">10.01.2022</div>
        <div class="card__content">
            <h3>Масштабные планы развития Apex Glass и инновации в 2022 году</h3>
            <p>Учитывая ключевые сценарии поведения, социально-экономическое развитие позволяет оценить значение направлений прогрессивного развития. Как принято считать, представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть функционально разнесены на независимые элементы...</p>
        </div>
        <a class="button button--secondary-card" href="#">Подробнее</a>
    </div>
</div>