.section {
    &--404 {
        padding-top: 0;
        .section__content {
            span {
                color: var(--font-color-orange);
            }
            h3 {
                margin-bottom: 15 / $h3Value + em;
            }
        }
    }
}