.section {
    &--front {
        // padding-top: 15 / $fontSizeRelative + em;
        padding: 0;
        @include media(m, $lg) {
            padding: 0;
        }
        .section__direction {
            &.reverse {
                .row {
                    @extend .flex-row-reverse;
                }
                .section__content {
                    @include media(m, $lg) {
                        padding-top: 50 / $fontSizeRelative + em;
                    }
                }
            }
        }
        .section__img {
            width: 100%;
            flex-grow: 0;
            @include media(m, $md) {
                max-width: 400px;
            }
            @include media(m, $xl) {
                max-width: 580px;
                height: 440 / $fontSizeRelative + em;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .section__content {
            flex-grow: 1;
            flex-shrink: 1;
        }
        .nav--posts {
            margin-top: 15 / $fontSizeRelative + em;
        }
    }
}