.section {
    &--list-news {
        .section__list {
            @include media(d, $lg) {
              display: flex;
              flex-wrap: wrap;
              margin-left: -12 / $fontSizeRelative + em;
              margin-right: -12 / $fontSizeRelative + em;
            }
        }
        .section__item {
            margin-bottom: 24 / $fontSizeRelative + em;
            padding-left: 12 / $fontSizeRelative + em;
            padding-right: 12 / $fontSizeRelative + em;
            @include media(d, $lg) {
                max-width: 50%;
            }
            @include media(d, $md) {
                max-width: none;
            }
            @include media(m, $lg) {
                padding-bottom: 25 / $fontSizeRelative + em;
                margin-bottom: 25 / $fontSizeRelative + em;
                border-bottom: 1px solid var(--border-color-gray);
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        .card--news-secondary {
            // flex-direction: column;
        }
        .card__img {
            @include media(d, $lg) {
                width: 100%;
            }
            @include media(d, $md) {
              height: auto;
            }
        }
    }
}