.footer {
    margin-top: auto;
    &--main {
        padding: 30 / $fontSizeRelative + em 0;
        border-top: 1px solid var(--border-color-gray);
        .logo--secondary {
            max-width: 315 / $fontSizeRelative + em;
        }
    }
}