// Настройка стилей корневых элементов документа

html {
  font-size: 13px;
  @include media(lg, $md) {
    font-size: 14px;
  }
  @include media(m, $xxl) {
    font-size: 15px;
  }
}

body {
  display: flex;
  flex-direction: column;
  
  font-family: var(--default-font), sans-serif !important;
  font-size: var(--default-font-size);
  color: var(--default-font-color);
  line-height: 1.3;
  font-weight: 400;
	font-style: normal;
	
  background-color: var(--default-background-color);
  &.scroll-hidden {
    overflow: hidden;
  }
}


h2 {
  font-size: var(--h3);
  font-weight: 700;
  @include media(m, $lg) {
    font-size: var(--h2);
  }
  @include media(m, $xl) {
    font-size: var(--h2);
  }
}
h3 {
  font-size: var(--h4);
  @include media(m, $lg) {
    font-size: var(--h3);
  }
  @include media(m, $xl) {
    font-size: var(--h3);
  }
}
h4 {
  font-size: var(--h5);
  @include media(m, $lg) {
    font-size: var(--h4);
  }
  @include media(m, $xl) {
    font-size: var(--h4);
  }
}
h5 {
  font-size: var(--text);
  @include media(m, $lg) {
    font-size: var(--h5);
  }
  @include media(m, $xl) {
    font-size: var(--h5);
  }
}

h6 {
  font-size: var(--text);
  font-weight: 700;
}

p {

}

b, strong {
}

em, i {

}

ol {

}

ul {

}

a {
	
}

small, time {
}

img {
  max-width: 100%;
}

hr {
  
}

blockquote {
  position: relative;
  border-left: 10px solid var(--border-color-orange);
  padding-left: 20 / $fontSizeRelative + em;
  @include media(m, $md) {
    border-left: 20px solid var(--border-color-orange);
    // padding-left: 20 / $fontSizeRelative + em;
  }
  strong {
    font-weight: 700;
  }
}


