
// vendors css
@import 'vendors';

// fonts
@import 'font-face';

// variables
@import 'vars';

// Mixin helpers
@import 'mixins/*.scss';

// root app
@import 'root';

// animations
// @import 'animations/*.scss';
@import 'animations';

// Helpers
@import 'utils/*.scss';

// Forms
@import 'forms';

// Components
@import 'components';

// header
@import 'header';

// footer
@import 'footer';

// Sections
@import 'section';

// Layouts
@import 'layout';


.popup-video {
    .mfp-content {
        max-width: 900px;
    }
}
.mfp-iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // box-shadow: 0 0 8px rgb(0 0 0 / 60%);
    background: #000;
}