<!DOCTYPE html>
<html lang="en">
  @@include("./src/partials/head.html")
  <title>Index</title>

  <body>
    <div class="layout layout--main" id="app">

      <div class="layout__content">
        <nav class="nav nav--navigation">
          <ul>
            <li><a href="main.html">Главная</a></li>
            <li><a href="about.html">О нас</a></li>
            <li><a href="post.html">Закалённое/стеклопакеты/триплекс/электрообогреваемое/с переменной прозрачностью/с защитой от эми</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="article.html">Новость</a></li>
            <li><a href="contacts.html">Контакты</a></li>
            <li><a href="404.html">404</a></li>
          </ul>
        </nav>
      </div>

    </div>
    @@include('./src/partials/scripts.html')
  </body>
</html>
