<!DOCTYPE html>
<html lang="en">
  @@include("./src/partials/head.html")
  <title>Post</title>

  <body>
    <div class="layout layout--main" id="app">
      @@include("./src/partials/header/header.html")
      
      <div class="layout__content">
        @@include("./src/partials/section/section--front.html")
        @@include("./src/partials/section/section--usage.html")
        @@include("./src/partials/section/section--advantages-post.html")
        @@include("./src/partials/section/section--possibilities.html")
        @@include("./src/partials/section/section--gallery-post.html")
        @@include("./src/partials/section/section--content-post.html")
      </div>

      @@include("./src/partials/footer/footer.html")
    </div>
    @@include('./src/partials/scripts.html')
  </body>
</html>
