<div class="section section--reviews">
    <div class="container-xxl">
        <div class="content content--reviews wow animate__fadeInDown" data-wow-duration="2s">
            <h4>Отзывы</h4>
            <h2>Что говорят наши клиенты</h2>
            <p>
                Мы придаем огромное значение прочным отношениям и убедились, что они приносят пользу нашему бизнесу. Отзывы клиентов жизненно важны, чтобы помочь нам сделать всё правильно
            </p>
        </div>
        <div class="swiper carousel carousel--reviews wow animate__fadeInUp" data-wow-duration="2s" data-element="carousel-reviews">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card card--review flex-grow-1">
                    <div class="card__head">
                        <div class="card__avatar">
                            <img src="img/img-avatar1.png" alt="">
                        </div>
                        <h3>Сардор Исмаилов</h3>
                        <div class="card__position">Директор Star Buildings</div>
                    </div>
                    <div class="card__body">
                        <p>
                            « Я только недавно начал работать с Apex Glass, и это было ключевым преимуществом. Я чувствую радость. Я бы определенно сказал что работать с Apex Glass принесло мне огромное удовольствие и продвижения моего бизнеса »
                        </p>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card card--review flex-grow-1">
                    <div class="card__head">
                        <div class="card__avatar">
                            <img src="img/img-avatar2.png" alt="">
                        </div>
                        <h3>Сардор Исмаилов</h3>
                        <div class="card__position">Архитектор</div>
                    </div>
                    <div class="card__body">
                        <p>
                            « Я только недавно начал работать с Apex Glass, и это было ключевым преимуществом. Я чувствую радость. Я бы определенно сказал что работать с Apex Glass принесло мне огромное удовольствие и продвижения моего бизнеса »
                        </p>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card card--review flex-grow-1">
                    <div class="card__head">
                        <div class="card__avatar">
                            <img src="img/img-avatar3.png" alt="">
                        </div>
                        <h3>Сардор Исмаилов</h3>
                        <div class="card__position">Архитектор</div>
                    </div>
                    <div class="card__body">
                        <p>
                            « Я только недавно начал работать с Apex Glass, и это было ключевым преимуществом. Я чувствую радость. Я бы определенно сказал что работать с Apex Glass принесло мне огромное удовольствие и продвижения моего бизнеса »
                        </p>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>