<div class="section section--content-post">
    <div class="container-xxl">
        <div class="content content--post">
            <div class="content__company-name" style="background-image: url('img/img-company-name2.svg');">&nbsp;</div>
            <p>
                Для производства стекла с переменной прозрачностью мы используем пленку с переменной прозрачностью на основе жидких кристаллов (технология PDLC). Жидкокристаллический слой расположен между
                двумя специальными пленками:
            </p>
            <br><br>
            <h6>Технические характеристики AG smart</h6>
            <ul>
                <li>Энергопотребление: 7 Вт/икв.м</li>
                <li>Напряжение питания: 110 вольт переменного тока (обеспечивается специальным трансформатором)</li>
                <li>Переход из матового состояния в прозрачное составляет менее 1 сек</li>
                <li>Диапазон рабочих температур: от -25 °С до +60 °С</li>
                <li>Светопропускание: до 80% как в прозрачном, так и в матовом состоянии</li>
                <li>Прозрачность: более 80% в прозрачном состоянии, менее 8% в матовом</li>
            </ul>
            <br><br>
            <h6>PDLC технология</h6>
            <ul>
                <li>
                    Пленочная структура состоит из двух прозрачных полимерных пленок, между которыми находится жидкокристаллический слой
                </li>
            </ul>
            <br><br>
            <h6>Матовая</h6>
            <ul>
                <li>
                    Пленка в состоянии покоя имеет непрозрачный молочно-белый цвет. Жидкие кристаллы расположены хаотично, рассеивают проходящий свет.
                </li>
            </ul>
            <br><br>
            <h6>Прозрачная</h6>
            <ul>
                <li>
                    Подключение пленки на напряжение 110 В, 50 Гц ведет к рекомбинации жидких кристаллов по линиям электрического поля, пленка начинает пропускать весь свет и становится
                    прозрачной.
                </li>
            </ul>
            <br><br>
            <h6>Материалы пля производства AG Smart</h6>
            <br><br>
            <h6>Стекло</h6>
            <ul>
                <li>Бесцветное</li>
                <li>Тонированное в массе</li>
                <li>Солнцезащитное</li>
                <li>Низкоэмиссионное</li>
                <li>Закаленное</li>
                <li>Мультифункциональное</li>
                <li>Пожаробезопасное</li>
                <li>Окрашенное стекло </li>
                <li>Электрообогреваемое</li>
            </ul>
            <br><br>
            <h6>Типы плёнок</h6>
            <ul>
                <li>Белая</li>
                <li>Белая с серым оттенком</li>
                <li>Белая с синим оттенком</li>
            </ul>
            <br><br>
        </div>
    </div>
</div>