<div class="section section--usage">
    <div class="container-xxl">
        <h3 class="title title--h3">Решение проблем и применения</h3>
        <p>
            Основное назначение современного окна - обеспечить помещение естественным солнечным светом. Чем больше окно, тем больше светового комфорта. Большое окно зрительно увеличивает размеры помещения, добавляя окружающую природу в интерьер.
        </p>

        <p>
            Но большое окно с обычным стеклом – источник холода зимой и жары летом. Причина в низком сопротивлении теплопередаче окна и высоком коэффициенте пропускания солнечного тепла. Поэтому, до появления энергосберегающих стеклопакетов, в жилых домах для уменьшения тепловых потерь строители были вынуждены уменьшать площадь окна. Согласно строительных норм, площадь окон должна быть меньше площади помещения в 6…8 раз. Появление на рынке энергосберегающего стекла позволяет проектировать, изготавливать и устанавливать окна любого размера и конфигурации.
        </p>
    </div>
</div>