<div class="section section--video-gallery">
    <div class="container-xxl">
        <h2>Видео-галерея</h2>
        <div class="row gx-3">
            <div class="col-sm-9">
                <div class="swiper carousel--video-gallery" data-element="carousel-gallery-video">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="video/1.mp4" data-element="video">
                                <img src="img/img-gallery-video-poster1.jpg" />
                                <img class="button button--play" src="img/icon-play.svg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="video/2.mp4" data-element="video">
                                <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                                <img class="button button--play" src="img/icon-play.svg" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="video/2.mp4" data-element="video">
                                <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                                <img class="button button--play" src="img/icon-play.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="swiper carousel carousel--video-gallery-thumbs" data-element="carousel-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/img-gallery-video-poster1.jpg" />
                            <img class="button button--play" src="img/icon-play.svg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                            <img class="button button--play" src="img/icon-play.svg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                            <img class="button button--play" src="img/icon-play.svg" alt="">
                        </div>
                    </div>
                    <div class="button button--nav-secondary button--nav-secondary-next">
                        <svg class='svg-icon'>
                          <use xlink:href='img/svgSprite.svg#icon-angle'></use>
                        </svg>
                    </div>
                    <div class="button button--nav-secondary button--nav-secondary-prev">
                        <svg class='svg-icon'>
                          <use xlink:href='img/svgSprite.svg#icon-angle'></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>