<div class="section section--possibillities">
    <div class="container-xxl">
        <h3 class="title title--h3">Возможности производства Apex Glass</h3>
        <div class="row row-cols-auto gy-3 gy-md-4">
            <div class="col">
                <div class="card card--possibility">
                    <div class="card__img">
                        <img src="img/img-possibility1.svg" alt="">
                    </div>
                    <div class="card__body">
                        <p>Масимальный размер: 3000х6000 мм</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card--possibility">
                    <div class="card__img">
                        <img src="img/img-possibility2.svg" alt="">
                    </div>
                    <div class="card__body">
                        <p>Максимальный вес: 2500 кг</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card--possibility">
                    <div class="card__img">
                        <img src="img/img-possibility3.svg" alt="">
                    </div>
                    <div class="card__body">
                        <p>Толщина: До 100 мм</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>