<div class="section section--advantages">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-2 gy-3">
            <div class="col wow animate__fadeInLeft" data-wow-duration="2s">
                <div class="content content--advantages">
                    <div class="content__company-name" style="background-image: url('img/img-company-name.svg');">&nbsp;</div>
                    <div class="content__text">
                        <h3>Преимущества</h3>
                        <h2>Почему выбирают нас?</h2>
                        <p>
                            На протяжении последних 3-х лет чистая прибыль компании ежегодно повышается на 10% за счет: оптимизации производства, роста числа клиентов, удешевления услуг, повышения качества обслуживания и так далее.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col wow animate__fadeInRight" data-wow-duration="2s">
                <div class="row row-cols-1 row-cols-sm-2 gx-4 gy-4">
                    <div class="col">
                        <div class="card card--advantage">
                            <div class="card__img">
                                <img src="img/img-card-advantage1.svg" alt="">
                            </div>
                            <h4>Качество</h4>
                            <p>
                                Мы концентрируем особое внимание не только скорости, но качеству изготавливаемого продукта
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card--advantage">
                            <div class="card__img">
                                <img src="img/img-card-advantage2.svg" alt="">
                            </div>
                            <h4>Доставка</h4>
                            <p>
                                Мы концентрируем особое внимание не только скорости, но качеству изготавливаемого продукта
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card--advantage">
                            <div class="card__img">
                                <img src="img/img-card-advantage3.svg" alt="">
                            </div>
                            <h4>Технологии</h4>
                            <p>
                                Мы концентрируем особое внимание не только скорости, но качеству изготавливаемого продукта
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card--advantage">
                            <div class="card__img">
                                <img src="img/img-card-advantage4.svg" alt="">
                            </div>
                            <h4>Технологии</h4>
                            <p>
                                Мы концентрируем особое внимание не только скорости, но качеству изготавливаемого продукта
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>