<div class="section section--404">
    <div class="container-xxl">
        <div class="text-center">
            <div class="section__img">
                <img src="img/404.png" alt="">
            </div>
            <div class="section__content">
                <h3>Страница не найдена</h3>
                <h3>Вы можете <span>вернуться на главную страницу</span></h3>
                <p>
                    Если вы оказались здесь, то к сожалению такой <br> страницы нет на нашем сайте <br>
                    Возможно, вы ввели не правильный адрес или <br> страница была удалена с сервера
                </p>
            </div>
        </div>
    </div>
</div>