<div class="section section--contacts">
    <div class="row row-cols-1 row-cols-md-2 g-0">
        <div class="col d-flex flex-column wow animate__fadeInLeft" data-wow-duration="2s">
            <div class="section__content flex-grow-1 d-flex flex-column">
                <div class="content content--contacts flex-grow-1 d-flex flex-column">
                    <h2>Контакты для связи:</h2>
                    <div class="content__item">
                        <h4>Адрес</h4>
                        <p>Мирабадский район. Улица 12</p>
                        <p>Ориентир - напротив здания Lorem ipsum</p>
                    </div>
                    <div class="content__item">
                        <h4>Контакты</h4>
                        <p><a href="tel:+998991234567">+998 (99) 123-45-67</a></p>
                        <p><a href="tel:+998991234567">+998 (99) 123-45-67</a></p>
                    </div>
                    <div class="content__item">
                        <h4>Почта</h4>
                        <p><a href="mailto:Apexglass@gmail.com">Apexglass@gmail.com</a></p>
                        <p><a href="mailto:Apexglassnew@gmail.com">Apexglassnew@gmail.com</a></p>
                    </div>
                    <div class="text-end mt-auto">
                        <a class="button button--secondary-main" href="#">Заказать звонок</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column wow animate__fadeInRight" data-wow-duration="2s">
            <div class="map map--main" id="map"></div>
        </div>
    </div>
</div>