<div class="section section--specific">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
                <div class="section__content">
                    <div class="section__company-name" style="background-image: url('img/img-company-name2.svg');">&nbsp;</div>
                    <h2 class="title title--specific">В чем же особенность <span>Apex</span> <span>Glass</span>? </h2>
                    <p>
                        Делая свое дело внимательно, педантично и без неоправданных расходов, мы предоставляем заказчикам качественные пластиковые окна по доступным ценам. Мы постоянно совершенствуемся, снижаем расходы заказчика и собственные потери, считая важным оградить Узбекистанского потребителя от лишних затрат на создание уюта и комфортного микроклимата.
                    </p>
            
                    <p>
                        Еще одна особенность компании «Apex Glass» в том, что мы отчетливо понимаем: каждое изготовленное окно — от простого до самого изысканного — должно сопровождаться достойным сервисом. Поэтому качество всех выполняемых работ гарантируется личной ответственностью сотрудников, их обязательностью и профессионализмом.
                    </p>
            
                    <p>
                        Люди в нашей стране достойны того, чтобы получать отличный сервис. Мы искренне рады каждый раз, когда сотрудничество с нами делает очередной дом теплым и светлым.
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="section__img">
                    <img src="img/img-specific.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>