<div class="section section--usage">
    <div class="container-xxl">
        <h3 class="title title--h3">Решение проблем и применения</h3>
        <p>
            Завод Apex Glass изготовил и испытал образец однокамерного стеклопакета. Испытания
            образца проводились в соответствии с требованиями ГОСТ 50414-92 в полосе частот от 300
            МГц до 18 ГГц. В результате испытаний был подтвержден проектируемый минимальный
            коэффициент экранирования, равный 20 дБл, что соответствует ослаблению уровня
            плотности потока ЭМИ в 100 раз. Применение разнообразных материалов и конструкций
            позволяет создавать стеклоизделия, в том числе стеклопакеты с коэффициентом
            экранирования до 60 д.
            
        </p>
        <div class="row row-cols-md-4 g-0">
            <div class="card card--usage">
                <h2>1</h2>
                <p>Удаления снега с наклонных и горизонтальных стеклянных поверхностей</p>
            </div>
            <div class="card card--usage">
                <h2>2</h2>
                <p>Запотевания и появления конденсата на стекле в местах с повышенной влажностью</p>
            </div>
            <div class="card card--usage">
                <h2>3</h2>
                <p>Обогрева беседок, зимних садов, зенитных фонарей, бассейнов, жилых домов и квартир</p>
            </div>
            <div class="card card--usage">
                <h2>4</h2>
                <p>Фасады, зимние фонари, козырьки, зимние сады и оранжереи, жилые дома и квартиры, окна и балконы, бассейны, переходы и транспорт</p>
            </div>
        </div>

    </div>
</div>