<div class="section section--list-news">
    <div class="container-xxl">
        <h2 class="title title--h2">Новости</h2>
        <div class="section__list">
            <div class="section__item">
                <div class="card card--news-secondary">
                    <div class="card__img">
                        <img src="img/img-news1-1.jpg" alt="">
                    </div>
                    <div class="card__body">
                        <div class="card__date">10.01.2022</div>
                        <div class="card__content">
                            <h3>Масштабные планы развития Apex Glass и инновации в 2022 году</h3>
                            <p>Учитывая ключевые сценарии поведения, социально-экономическое развитие позволяет оценить значение направлений прогрессивного развития. Как принято считать, представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть функционально разнесены на независимые элементы...</p>
                        </div>
                        <a class="button button--secondary-card" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="section__item">
                <div class="card card--news-secondary">
                    <div class="card__img">
                        <img src="img/img-news1-1.jpg" alt="">
                    </div>
                    <div class="card__body">
                        <div class="card__date">10.01.2022</div>
                        <div class="card__content">
                            <h3>Масштабные планы развития Apex Glass и инновации в 2022 году</h3>
                            <p>Учитывая ключевые сценарии поведения, социально-экономическое развитие позволяет оценить значение направлений прогрессивного развития. Как принято считать, представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть функционально разнесены на независимые элементы...</p>
                        </div>
                        <a class="button button--secondary-card" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="section__item">
                <div class="card card--news-secondary">
                    <div class="card__img">
                        <img src="img/img-news1-1.jpg" alt="">
                    </div>
                    <div class="card__body">
                        <div class="card__date">10.01.2022</div>
                        <div class="card__content">
                            <h3>Масштабные планы развития Apex Glass и инновации в 2022 году</h3>
                            <p>Учитывая ключевые сценарии поведения, социально-экономическое развитие позволяет оценить значение направлений прогрессивного развития. Как принято считать, представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть функционально разнесены на независимые элементы...</p>
                        </div>
                        <a class="button button--secondary-card" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="section__pagination" aria-label="Page navigation">
            <ul class="pagination pagination--base">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">
                      <svg class='svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-angle'></use>
                      </svg>
                  </span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">
                      <svg class='svg-icon'>
                        <use xlink:href='img/svgSprite.svg#icon-angle'></use>
                      </svg>
                  </span>
                </a>
              </li>
            </ul>
          </nav>
    </div>
</div>