<div class="section section--front-about">
    <div class="container-xxl">
        <div class="section__content">
            <div class="section__company-name" style="background-image: url('img/img-company-name2.svg');">&nbsp;</div>
            <div class="section__content-about">
                <p>Так что же представляет из себя Apex Glass?</p>
                <h2>О компании</h2>
                <p>
                    Наша миссия: создавать лучшие в мире стеклопакеты, делая архитектуру городов красивой, а здания комфортными и безопасными для жизни, работы и отдыха современного человека. <br>
                    Apex Glass ― самый крупный завод в Узбекистане по производственным мощностям на рынке переработки листового стекла.    
                </p>
            </div>
            <div class="section__about-more">
                <h3>О нас в цифрах</h3>
                <div class="row row-cols-auto gx-5 gy-5">
                    <div class="col">
                        <div class="card card--about">
                            <div class="card__value">5+</div>
                            <div class="card__text">Лет опыта и <br> совершнествования</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card--about">
                            <div class="card__value">400+</div>
                            <div class="card__text">Cпециалистов — наша гордость и <br> главный ресурс</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card--about">
                            <div class="card__value">2000+</div>
                            <div class="card__text">Изготовленных продукций</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>