<div class="section section--news">
    <div class="container-xxl">
        <div class="section__title mb-5 wow animate__fadeInDown" data-wow-duration="2s">
            <div class="title title--primary">
                <h2>Новости</h2>
            </div>
            <div class="text-center">Мы регулярно публикуем новости и статьи чтобы держать вас в курсе всего</div>
        </div>
        <div class="section__news-row clearfix wow animate__fadeInUp" data-wow-duration="2s">
            <div class="section__news-column">
                <div class="card card--news">
                    <div class="card__img">
                        <img src="img/content-img--gallery1.jpg" alt="">
                    </div>
                    <div class="card__body">
                        <div class="card__date">10.01.2022</div>
                        <div class="card__content">
                            <h5>Мы занимаемся изготовлением стекол разных сложностей</h5>
                            <p>А ещё предприниматели в сети интернет освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ассоциативно...</p>
                        </div>
                        <a class="button button--secondary-card" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="section__news-column">
                <div class="card card--news">
                    <div class="card__img">
                        <img src="img/img-news1.jpg" alt="">
                    </div>
                    <div class="card__body">
                        <div class="card__date">10.01.2022</div>
                        <div class="card__content">
                            <h5>Мы занимаемся изготовлением стекол разных сложностей</h5>
                            <p>А ещё предприниматели в сети интернет освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ассоциативно...</p>
                        </div>
                        <a class="button button--secondary-card" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="section__news-column">
                <div class="card card--news">
                    <div class="card__img">
                        <img src="img/img-news1.jpg" alt="">
                    </div>
                    <div class="card__body">
                        <div class="card__date">10.01.2022</div>
                        <div class="card__content">
                            <h5>Мы занимаемся изготовлением стекол разных сложностей</h5>
                            <p>А ещё предприниматели в сети интернет освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, ассоциативно...</p>
                        </div>
                        <a class="button button--secondary-card" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="button button--base" href="#">Все новости</a>
        </div>
    </div>
</div>