<div class="section section--front">
    <div class="container-xxl">
        <div class="section__direction reverse">
            <div class="row row-cols-1 row-cols-md-auto flex-md-nowrap gy-4">
                <div class="section__img col">
                    <img src="img/img-front-2.jpg" alt="">
                </div>
                <div class="section__content col">
                    <div class="content content--front">
                        <h3>Закалённое</h3>
                        <blockquote>
                            <strong>Закалённое</strong> — это многослойное ламинированное стекло, в конструкции
                            которого находится стекло со специальным токопроводящим покрытием, которое
                            выполняет функцию нагревательного элемента.
                        </blockquote>
                        <p>
                            <strong>Термоупрочненное</strong> — стекло, прошедшее специальную термическую обработку, благодаря
                            которой его термическая и механическая прочность становится выше, чем у обычного
                            стекла, но ниже, чем у закаленного.
                        </p>
    
                        <p>
                            <strong>
                                Компания Apex Glass производит закаленное стекло под торговой маркой AG и термоупрочненное стекло под торговой маркой Apex Glass
                            </strong>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>