<div class="section section--advantages-post">
    <div class="container-xxl">
        <h3 class="title title--h3">Преимущества закаленного стекла от Apex Glass</h3>
        <div class="section__overflow">
            <div class="row row-cols-1 row-cols-md-3 justify-content-center g-0">
                <div class="col d-flex flex-column">
                    <div class="card card--advantage-post flex-grow-1">
                        <div class="card__img">
                            <img src="img/icon-advantages-post-1.svg" alt="">
                        </div>
                        <div class="card__body">
                            <p>
                                Исключает снеговые нагрузки, уменьшает металлоемкость конструкции и её цену
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column">
                    <div class="card card--advantage-post flex-grow-1">
                        <div class="card__img">
                            <img src="img/icon-advantages-post-2.svg" alt="">
                        </div>
                        <div class="card__body">
                            <p>
                                Не нужно устанаваливать громоздкие подоконные радиаторы, потому как поверхность стекла излучает тепло и пропадает эффект “холодного стекла”
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column">
                    <div class="card card--advantage-post flex-grow-1">
                        <div class="card__img">
                            <img src="img/icon-advantages-post-3.svg" alt="">
                        </div>
                        <div class="card__body">
                            <p>
                                Применение электрообгореваемого стекла в качестве главного источника тепла устраняет потребность в подключении дорогостоящих систем отопления
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column">
                    <div class="card card--advantage-post flex-grow-1">
                        <div class="card__img">
                            <img src="img/icon-advantages-post-4.svg" alt="">
                        </div>
                        <div class="card__body">
                            <p>
                                При отрицательной температуре стекло
                                существенно снижает потери тепла,
                                отражает тепловую энергию
                                обогревательных приборов и позволяет
                                значительно уменьшить расходы на
                                отопление
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column">
                    <div class="card card--advantage-post flex-grow-1">
                        <div class="card__img">
                            <img src="img/icon-advantages-post-5.svg" alt="">
                        </div>
                        <div class="card__body">
                            <p>
                                Благодаря особой технологии стекло
                                блокирует внешнее ультрафиолетовое излучение, защищая предметы интерьера
                                от выцветания
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>