<div class="section section--usage">
    <div class="container-xxl">
        <h3 class="title title--h3">Применения</h3>
        <div class="row row-cols-md-4 g-0">
            <div class="card card--usage">
                <h2>1</h2>
                <p>Удаления снега с наклонных и горизонтальных стеклянных поверхностей</p>
            </div>
            <div class="card card--usage">
                <h2>2</h2>
                <p>Запотевания и появления конденсата на стекле в местах с повышенной влажностью</p>
            </div>
            <div class="card card--usage">
                <h2>3</h2>
                <p>Обогрева беседок, зимних садов, зенитных фонарей, бассейнов, жилых домов и квартир</p>
            </div>
            <div class="card card--usage">
                <h2>4</h2>
                <p>Фасады, зимние фонари, козырьки, зимние сады и оранжереи, жилые дома и квартиры, окна и балконы, бассейны, переходы и транспорт</p>
            </div>
        </div>

    </div>
</div>