<div class="section section--about">
    <div class="section__title mb-2 wow animate__fadeInDown" data-wow-duration="2s">
        <div class="container-xxl">
            <div class="title title--primary">
                <h2>О Компании</h2>
            </div>
        </div>
    </div>
    <div class="position-relative">
        <div class="container-xxl">
            <div class="row flex-column flex-column-reverse flex-md-row row-cols-md-2 align-items-center gy-3">
                <div class="col wow animate__fadeInLeft" data-wow-duration="2s">
                    <div class="content content--about">
                        <div
                            class="content__company-name"
                            style="background-image: url('img/img-company-name.svg');"
                        >&nbsp;</div>
                        <div class="content__text">
                            <h3>Своей работой, мы превращаем обычные идеи в произведение искусства</h3>
                            <p>
                                Наша миссия: создавать лучшие в мире стеклопакеты, делая архитектуру городов красивой, а здания комфортными и безопасными для жизни, работы и отдыха современного человека. <br>
                                Apex Glass ― самый крупный завод в Узбекистане по производственным мощностям на рынке переработки листового стекла.    
                            </p>
                            <p>
                                Постоянно обновляем парк оборудования на самое современное и технологичное, работаем с лучшими поставщиками Европы. 
                                Расскажите о своем проекте, а остальное мы возьмем на себя. Вам понравится дружить и работать с Apex Glass.
                            </p>
                        </div>
                        <div class="position-relative">
                            <a class="button button--secondary" href="#">
                                <span>Узнать больше</span>
                                <svg class='svg-icon'>
                                  <use xlink:href='img/svgSprite.svg#icon-arrow2'></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col wow animate__fadeInRight" data-wow-duration="2s">
                    <div class="section__img">
                        <img src="img/content-img--about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>