<!-- <div class="section"> -->
<div class="section section--gallery">
    <div class="section__background">
        <div class="container-xxl">
            <div class="row align-items-xxl-center gy-4">
                <div class="col-lg-3 wow animate__fadeInLeft" data-wow-duration="2s">
                    <div class="text-center text-lg-end">
                        <div class="content content--gallery">
                            <h2>Галерея наших проектов</h2>
                            <p>
                                Основной принцип - мы не играем в тренды, а глубоко вникаем в личность человек, которые там будет жить и работать
                            </p>
                        </div>
                        <a class="button button--secondary-main" href="#">Заказать звонок</a>
                    </div>
                </div>
                <div class="col-lg-9 wow animate__fadeInRight" data-wow-duration="2s">
                    <div class="section__carousel">
                        <div class="swiper carousel carousel--gallery" data-element="carousel-gallery">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="img/content-img--gallery1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="img/content-img--gallery1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="img/content-img--gallery1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="img/content-img--gallery1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="img/content-img--gallery1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="img/content-img--gallery1.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="carousel__nav">
                                <div class="carousel__button carousel__button--prev">
                                    <svg class='svg-icon'>
                                      <use xlink:href='img/svgSprite.svg#icon-arrow2'></use>
                                    </svg>
                                </div>
                                <div class="carousel__button carousel__button--next">
                                    <svg class='svg-icon'>
                                      <use xlink:href='img/svgSprite.svg#icon-arrow2'></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>