<div class="section section--front">
    <div class="container-xxl">
        <div class="nav nav--posts mb-3">
            <div class="nav__in">
                <a class="active" href="#">Электрообогрваемое стекло</a>
                <a href="#">Стекло с переменной прозраностью</a>
                <a href="#">Стекло с защитой от ЭМИ</a>
            </div>
        </div>
        <!-- <div class="row row-cols-1 row-cols-md-auto flex-md-nowrap flex-row-reverse gy-4"> -->
        <div class="row row-cols-1 row-cols-md-auto flex-md-nowrap gy-4">
            <div class="section__img col">
                <img src="img/img-front-1.jpg" alt="">
            </div>
            <div class="section__content col">
                <div class="content content--front">
                    <h3>Электрообогрваемое стекло</h3>
                    <blockquote>
                        <strong>Электрообогреваемое</strong> — это многослойное ламинированное стекло, в конструкции
                        которого находится стекло со специальным токопроводящим покрытием, которое
                        выполняет функцию нагревательного элемента.
                    </blockquote>
                    <h5>Компания Apex Glass производит Электрообогреваемые стеклоизделия под торговой маркой AG</h5>
                    <ul>
                        <li>
                            Защита рабочего персонала от электромагнитных излучений, генерируемых технологическим оборудованием (при условии сохранения визуального контакта)
                        </li>
                        <li>
                            Защита рабочего персонала от электромагнитных излучений, генерируемых технологическим оборудованием (при условии сохранения визуального контакта)
                        </li>
                        <li>
                            Защита рабочего персонала от электромагнитных излучений, генерируемых технологическим оборудованием (при условии сохранения визуального контакта)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>