<div class="section section--gallery-about">
    <div class="container-xxl">
        <div class="section__head">
            <div class="row row-cols-auto align-items-end flex-md-nowrap gy-2 gy-md-4">
                <div class="col flex-grow-1 flex-shrink-1">
                    <div class="section__title">
                        <h2 class="title title--h2">Галерея</h2>
                        <p>Мы никогда ничего не скрываем и всегда показываем нашим дорогим клиентам все процессы изготовления нашей продукции</p>
                    </div>
                </div>
                <div class="col flex-shrink-0">
                    <button
                        class="button button--nav button--nav-prev"
                        type="button"
                        data-element="gallery-post-nav-prev"
                    >
                        <svg class='svg-icon'>
                          <use xlink:href='img/svgSprite.svg#icon-arrow-small'></use>
                        </svg>
                    </button>
                    <button
                        class="button button--nav"
                        type="button"
                        data-element="gallery-post-nav-next"
                    >
                        <svg class='svg-icon'>
                          <use xlink:href='img/svgSprite.svg#icon-arrow-small'></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="swiper carousel carousel--gallery-post" data-element='carousel-gallery-post'>
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="img/img-gallery-post1.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/img-gallery-post2.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/img-gallery-post3.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/img-gallery-post1.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/img-gallery-post2.jpg" alt=""></div>
              <div class="swiper-slide"><img src="img/img-gallery-post3.jpg" alt=""></div>
            </div>
            
          </div>
    </div>
</div>