<div
  class="section section--main wow animate__fadeIn"
  style="background-image: url('img/background-section--main.jpg');"
  data-wow-duration="2s"
>
    <div class="container-xxl position-relative">
      <div class="row">
        <div class="col-sm-8 col-lg-6 col-xl-5 col-xxl-6">
          <div class="content content--main">
            <h2>Будущее за Apex Glass</h2>
            <p>
              Apex Glass - лидирующая компания по изготовлению стеклопакетов в Узбекистане. Делая архитектуру городов красивой, а здания комфортными и безопасными для жизни
            </p>
            <a class="button button--base" href="#">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>